.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}
.container-picker {
  /* justify-content: space-around; */
  display: flex;
  gap: 2rem;
  place-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
}
